body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.allPoll {
  background-color: #F8F8F8;
  text-align: center;
  border-radius: 4px;
  padding: 60px;
}

.btn-default {
  width: 50%;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid;
  border-radius: 4px;
}

input[type=text] {
  width: 100%;
  padding: 8px 15px;
  margin: 0px 0;
  box-sizing: border-box;
  color: black;
  border: 2px solid;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #3CBC8D;
  color: white;
  border: 2px solid;
  border-radius: 4px;
  margin: auto;
}

.jumbotron {
  position: relative;
  height: 500px;
}

.pollContent {
  float: left;
  width: 400px;
}

.pieCharContainer {
  float: right;
  width: 400px;
  height: 400px;
}

.twitter-share-button {
  width: 100%;
}

.createRemovePollButton {
  text-align: center;
  float: right;
  width: 400px;
  background-color: #F8F8F8;
  border-radius: 4px;
  padding-top: 10px;
}

.contentContainer {
  background-color: #F8F8F8;
  border-radius: 4px;
  padding: 60px;
}

#removalButton {
  background-color: red !important;
}

#twitterShareButton{
  background-color: rgb(128,128,128) !important;
}

#pollOptionInputBox {
  width: 100%;
  height: 200px;
}

#pollTitleBox {
   border: 1px solid !important;
}