<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/partials/U/head.ejs %>
</head>
 
<body id='body'>

    <div class="container">

         <% include ../public/partials/U/navbar.ejs %>


        <!-- Main component for a primary marketing message or call to action -->
        <% include ../public/partials/U/pollContent.ejs %>

    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js"></script>
    <% include ../public/partials/U/pollContentJS.ejs %>
</body>

</html>
