<div class="jumbotron">
            <div class='pollContent'>
                <%- pollContent %>
                <div id='dele'></div>
            </div>
            <div class='pieCharContainer'>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            
        </div>