<script>
        var ctx = document.getElementById("myChart");
        var data = {
            labels: <%- pollOptions %>,
            datasets: [{
                data: <%= data %> ,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
        };
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: data,
        });

            var createInput = document.querySelector('.createInput');
            var selectpicker = document.querySelector('#selectpicker');
            var change = document.querySelector('#change');
            selectpicker.addEventListener('change', function() {
                if (selectpicker.value == 'create') {
                    createInput.innerHTML = '<h5>Vote with my own option:</h5><input type="text" name="createOption">';
                }

            });

    </script>